.card-sub {
  border: 2px solid black;
  width: 370px;
  margin-left: 30px;
  margin-top: 90px;
  border-radius: 14px;
  height: 450px;
}

.main-card {
  padding: 0px 70px 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.card-sub {
  background: url("https://imgs.search.brave.com/z1rKOVpTEuOVNHUmtNwO1ik4nL_C_9Tna9WyJYE_SeY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly92ZW5u/Z2FnZS13b3JkcHJl/c3MuczMuYW1hem9u/YXdzLmNvbS91cGxv/YWRzLzIwMTgvMDkv/TmF0dXJhbC1Xb29k/LVBhbmVscy1TaW1w/bGUtQmFja2dyb3Vu/ZC1JbWFnZS5qcGVn");
}

.card-details > details > p {
  height: 100px;
  overflow-y: scroll;
  color: rgb(36, 230, 52);
}

.card-details > details > summary {
  color: white;
}

.card-details > details > p::-webkit-scrollbar {
  display: none;
}

.main-card::-webkit-scrollbar {
  display: none;
}

.pro-head {
  font-size: 31px;
}

.card-img > img {
  width: 367px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.bu > button {
  width: 100px;
}

.card-techstacks {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tech-icons > i {
  font-size: 30px;
}

.card-title {
  padding-left: 3px;
  padding-top: 19px;
}

.card-title h3 {
  color: white;
}

.card-details {
  padding-top: 15px;
  padding-left: 7px;
}

.card-techstacks {
  padding: 0px 4px 0px 4px;
}

.card-img:hover {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  transition: 0.23s;
  transform: scale(1.2);
  border: 1px solid grey;
  cursor: pointer;
}

.tech-icons:hover {
  color: rgb(79, 79, 138);
}

.click-pic{
  width: 20px;
}

.card-btn {
  background-color:black;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
  border: 2px yellow solid;
}

@media screen and (max-width: 576px) {
  .main-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
  }
  .project-head {
    font-size: 22px;
    margin-left: 100px;
  }
  .footer {
    margin-left: 70px;
  }

  .project-head {
    font-size: 25px;
    margin-left: 200px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .project-head h2 {
    margin-left: 400px;
    font-size: 40px;
  }
  .project-head p {
    margin-left: 400px;
    font-size: 20px;
  }

  .main-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
  }
}
