.skills__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 900px;
  margin: auto;
}

.skill__item p {
  text-align: center;
}

/* BLACK CARD */
.skills__content {
  background: #0b0b0b;
  padding: 2rem;
  border-radius: 18px;
  border: 2px solid rgb(167, 145, 21);
  transition: all 0.4s ease;
}

/* #1f1f1f */

/* GLOW HOVER */
.skills__content:hover {
  box-shadow: 0 0 25px rgba(0, 255, 204, 0.25);
  transform: translateY(-6px);
}

.skills__title {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
  letter-spacing: 1px;
}

/* ICON GRID */
.skills__icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 1.6rem;
  justify-items: center;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.skill__item:hover {
  transform: scale(1.1);
}

.skill__icon {
  font-size: 2.4rem;
  color: #00ffcc;
}

.skill__text {
  font-size: 0.65rem;
  margin-top: 0.4rem;
  color: #bdbdbd;
  letter-spacing: 0.6px;
}

/* MOBILE */
@media (max-width: 576px) {
  .skills__icons {
    grid-template-columns: repeat(3, 1fr);
  }
}
